{% extends "base.html" %}

{% block title %}Book List{% endblock %}

{% block content %}
{% include "books_pc_multi_view/nav.html" %}

Books Parent/Child with Multi View

<ul>
    {% for book in books %}
    <li>{{ book.name }}  ({{ book.pages }} Pages)
    <a href="{% url 'books_pc_multi_view:book_view' book.id %}">view</a>
    <a href="{% url 'books_pc_multi_view:book_edit' book.id %}">edit</a>
    <a href="{% url 'books_pc_multi_view:book_delete' book.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'books_pc_multi_view:book_new' %}">New</a>
{% endblock %}
