{% extends "base.html" %}

{% block content %}

<ul>
<li><a href="{% url 'books_simple:home' %}">Simple CRUD</a></li>
<li><a href="{% url 'books_pc_formset:home' %}">Parent/Child using Formset</a></li>
<li><a href="{% url 'books_pc_formset2:home' %}">Parent/Child using Formset and Foreign Key</a></li>
<li><a href="{% url 'books_pc_multi_view:home' %}">Parent/Child using multiple views</a></li>
<li><a href="{% url 'books_pc_multi_view2:home' %}">Parent/Child using multiple views and Foreign Key</a></li>
</ul>

You can also access Django built-in <a href="/admin/">Admin interface</a>, you would need to
create a user using the following command:

<pre>./manage.py  createsuperuser</pre>
{% endblock %}
